<h1>Create Disaster Information</h1>
<%= form_for @post, url: posts_path, method: :post do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :region_id, class:'control-label' %>
  <%= f.collection_select :region_id, Region.order(:region_name),:id,:region_name, {:prompt => 'Regions'}, include_blank: true %>
  </div>

  <div class="form-group">
    <%= f.label :city_id, class:'control-label' %>
    <%= f.collection_select :city_id, City.order(:name),:id,:name, {:prompt => 'Cities'}, include_blank: true %>
  </div>

  <div class="form-group">
    <%= f.label :category_id, class:'control-label' %>
    <%= f.collection_select :category_id, Category.order(:name),:id,:name, {:prompt => 'Type of Disaster'}, include_blank: true %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-danger' %>
  </div>

<% end %>